---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Works from "../components/Works.astro";
import Projects from "../components/Projects.astro";
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="Sebastian C | Portfolio">
  <!-- <Header /> -->

  <main class="container mx-auto px-5">
    <div class="max-w-3xl mx-auto flex flex-col gap-16 mt-5">
      <AboutMe />

      <Works />

      <Projects />

      <ContactMe />
    </div>
  </main>
</Layout>
