---
import Card from "./Card.astro";
import Country from "./Country.astro";
import DayZone from "./DayZone.astro";
import Greetings from "./Greetings.astro";
import HomeGif from "./HomeGif.astro";
import LinkCard from "./LinkCard.astro";
import Skills from "./Skills.astro";
import Tecnhologies from "./Tecnhologies.astro";
import TimeZone from "./TimeZone.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<section class="auto-rows-[100px] grid grid-cols-2 sm:grid-cols-4 gap-5">
  <Greetings />

  <HomeGif />

  <Country />

  <Tecnhologies />

  <TimeZone />

  <DayZone />

  <LinkCard
    grid="row-span-1 col-span-1"
    linkUrl="https://www.linkedin.com/in/sebastian-contreras-ceballos/"
  >
    <LinkedinIcon size="h-14 w-14" />
  </LinkCard>

  <LinkCard
    grid="row-span-1 col-span-1"
    linkUrl="https://github.com/LockHeaven"
  >
    <GithubIcon size="h-14 w-14" />
  </LinkCard>
</section>
