---
import Card from "./Card.astro";
import Country from "./Country.astro";
import DayZone from "./DayZone.astro";
import Greetings from "./Greetings.astro";
import HomeGif from "./HomeGif.astro";
import Skills from "./Skills.astro";
import Tecnhologies from "./Tecnhologies.astro";
import TimeZone from "./TimeZone.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<section class="auto-rows-[100px] grid grid-cols-2 sm:grid-cols-4 gap-5">
  <Greetings />

  <HomeGif />

  <Country />

  <Tecnhologies />

  <TimeZone />

  <DayZone />

  <Card grid="row-span-1 col-span-1">
    <div class="flex h-full w-full justify-center items-center">
      <LinkedinIcon size="h-14 w-14" />
    </div>
  </Card>

  <Card grid="row-span-1 col-span-1">
    <div class="flex h-full w-full justify-center items-center">
      <GithubIcon size="h-14 w-14" />
    </div>
  </Card>
</section>
