---
import CopyIcon from "./icons/CopyIcon.astro";
import SendIcon from "./icons/SendIcon.astro";
---

<section class="mt-16 mb-10 flex flex-col gap-5">
  <header>
    <h1 class="text-white text-2xl font-semibold">Contact Me</h1>
  </header>
  <div class="flex justify-between gap-2">
    <input
      disabled
      type="text"
      value="sebastian.contreras@gmail.com"
      class="bg-[#333F44] w-full py-1.5 px-3 rounded-lg grid place-items-center text-slate-200 dark:text-slate-300"
    />
    <div class="flex gap-2">
      <div class="relative group/tooltip">
        <a
          href="mailto:sebastian.contreras@gmail.com"
          class="flex bg-[#333F44]/70 hover:bg-opacity-20 py-2.5 px-4 rounded-lg"
        >
          <SendIcon /></a
        >
        <span
          class="absolute pointer-events-none transition-all opacity-0 z-20 bottom-full -translate-y-0 py-1 px-1.5 text-xs left-1/2 -translate-x-1/2 rounded-md whitespace-nowrap text-gray-200 bg-gray-800 dark:bg-white dark:text-gray-700 before:content-[''] before:absolute before:bg-gray-800 before:rounded-sm before:w-2.5 before:rotate-45 before:h-2.5 before:-bottom-1 before:-z-10 before:left-1/2 before:-translate-x-1/2 before:dark:bg-white before:dark:gray-800 group-hover/tooltip:opacity-100 group-hover/tooltip:-translate-y-3"
          >Send me email</span
        >
      </div>
      <div class="relative group/tooltip">
        <a
          href="mailto:sebastian.contreras@gmail.com"
          class="flex bg-[#333F44]/70 hover:bg-opacity-100 py-2.5 px-4 rounded-lg"
        >
          <CopyIcon /></a
        >
        <span
          class="absolute pointer-events-none transition-all opacity-0 z-20 bottom-full -translate-y-0 py-1 px-1.5 text-xs left-1/2 -translate-x-1/2 rounded-md whitespace-nowrap text-gray-200 bg-gray-800 dark:bg-white dark:text-gray-700 before:content-[''] before:absolute before:bg-gray-800 before:rounded-sm before:w-2.5 before:rotate-45 before:h-2.5 before:-bottom-1 before:-z-10 before:left-1/2 before:-translate-x-1/2 before:dark:bg-white before:dark:gray-800 group-hover/tooltip:opacity-100 group-hover/tooltip:-translate-y-3"
          >Copy email</span
        >
      </div>
    </div>
    <button></button>
  </div>
</section>
