---
import CopyIcon from "./icons/CopyIcon.astro";
import SendIcon from "./icons/SendIcon.astro";
---

<section class="mb-10 flex flex-col gap-5">
  <header>
    <h1 class="text-white text-2xl font-semibold">Contact Me</h1>
  </header>
  <div class="flex justify-between gap-2">
    <input
      disabled
      type="text"
      value="sebastian.contreras@gmail.com"
      class="bg-green-900 w-full py-1.5 px-3 rounded-lg grid place-items-center text-slate-100"
    />
    <div class="flex gap-2">
      <div class="relative group/tooltip">
        <a
          href="mailto:sebastian.contreras@gmail.com"
          class="flex bg-emerald-700 hover:bg-opacity-70 py-2.5 px-4 rounded-lg"
        >
          <SendIcon /></a
        >
        <span
          class="absolute pointer-events-none transition-all opacity-0 z-20 bottom-full -translate-y-0 py-1 px-1.5 text-xs left-1/2 -translate-x-1/2 rounded-md whitespace-nowrap text-gray-200 bg-gray-800 before:content-[''] before:absolute before:bg-gray-800 before:rounded-sm before:w-2.5 before:rotate-45 before:h-2.5 before:-bottom-1 before:-z-10 before:left-1/2 before:-translate-x-1/2 group-hover/tooltip:opacity-100 group-hover/tooltip:-translate-y-3"
          >Send me email</span
        >
      </div>
      <div class="relative group/tooltip">
        <a
          href="mailto:sebastian.contreras@gmail.com"
          class="flex bg-emerald-700 hover:bg-opacity-70 py-2.5 px-4 rounded-lg"
        >
          <CopyIcon /></a
        >
        <span
          class="absolute pointer-events-none transition-all opacity-0 z-20 bottom-full -translate-y-0 py-1 px-1.5 text-xs left-1/2 -translate-x-1/2 rounded-md whitespace-nowrap text-gray-200 bg-gray-800 before:content-[''] before:absolute before:bg-gray-800 before:rounded-sm before:w-2.5 before:rotate-45 before:h-2.5 before:-bottom-1 before:-z-10 before:left-1/2 before:-translate-x-1/2 group-hover/tooltip:opacity-100 group-hover/tooltip:-translate-y-3"
          >Copy email</span
        >
      </div>
    </div>
    <button></button>
  </div>
</section>

<style>
  .bg-radial-gradient-farthest {
    background-image: radial-gradient(
      circle farthest-side at 50% 110%,
      #74e71da1,
      rgba(61, 199, 70, 0)
    );
  }
</style>
