---
import Card from "./Card.astro";
---

<Card grid="row-span-1 col-span-2">
  <div class="h-full flex justify-center gap-4 items-center">
    <h2 class="text-2xl font-semibold text-white">Colombia</h2>
    <img class="h-8 w-8 rounded-md" src="colombia.png" alt="" />
  </div>
</Card>
