---
import Card from "./Card.astro";
---

<Card grid="row-span-1 col-span-2">
  <div
    class="text-white text-2xl font-semibold h-full w-full flex flex-col justify-center items-center"
  >
    <p>Sunday</p>
    <p>December 03, 2023</p>
  </div>
</Card>
