---
import Card from "./Card.astro";
import FileCvIcon from "./icons/FileCvIcon.astro";
---

<Card grid="row-span-4 col-span-2 lg:row-span-2 lg:col-span-4">
  <div class="flex flex-col h-full justify-between lg:flex-row w-full p-4">
    <div
      class="flex flex-col justify-evenly md:justify-between order-2 lg:order-1 h-full"
    >
      <span class="text-lg md:text-2xl text-white"
        >Hi, I'm <strong class="font-bold green-gradient"
          >Sebastian Contreras</strong
        >, a software developer with strong focus on the user experience,
        animations and micro interactions.</span
      >
      <a
        href="CV-Sebastian_Contreras.pdf"
        download
        class="text-white flex items-center gap-2 hover:text-green-500 hover:scale-110 transition w-fit py-2.5 rounded-lg"
      >
        <FileCvIcon />
        <span class="font-semibold"> Resume</span>
      </a>
    </div>
    <img
      class="h-40 w-40 self-center lg:w-auto order-1 lg:order-2"
      src="me.webp"
      alt="Me with glasses"
    />
  </div>
</Card>
