---
interface Props {
  grid: string;
  linkUrl: string;
}

const { grid, linkUrl } = Astro.props;
---

<a
  href={linkUrl}
  target="_blank"
  class={`
    ${grid}
    rounded-xl relative
    border-slate-400/10
    bg-[#2e3b168a] border-2 bg-radial-gradient-farthest hover:border-[#7ae627a1]
    text-white cursor-pointer`}
>
  <div
    class="flex h-full w-full justify-center items-center hover:text-green-500 hover:scale-110 transition"
  >
    <slot />
  </div>
</a>

<style>
  .bg-radial-gradient-farthest {
    background-image: radial-gradient(
      circle farthest-side at 50% 110%,
      #64ba22a1,
      rgba(84, 61, 199, 0)
    );
  }
</style>
