---
import SectionProject from "./SectionProject.astro";
import AngularIcon from "./icons/AngularIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import TypeScriptIcon from "./icons/TypeScriptIcon.astro";
---

<section class="flex flex-col gap-5">
  <header>
    <h1 class="text-white text-2xl font-semibold">Projects</h1>
  </header>
  <div class="flex flex-col gap-6 auto-rows-[310px]">
    <SectionProject
      title="Tesla App"
      img="tesla.webp"
      imgTitle="Tesla App"
      githubUrl=""
      liveUrl=""
    >
      <div slot="techs" class="flex gap-2">
        <AstroIcon size="h-8 w-8" />
      </div>
      <p class="text-slate-200 text-lg grow">
        Landing page of Tesla created with Astro.
      </p>
    </SectionProject>

    <SectionProject
      title="Spotify Clone"
      img="spotify.webp"
      imgTitle="Spotify Clone App"
      githubUrl=""
      liveUrl=""
    >
      <div slot="techs" class="flex gap-2">
        <AngularIcon size="text-white h-8 w-8" />
        <TypeScriptIcon size="text-white h-8 w-8" />
        <TailwindIcon size="text-white h-8 w-8" />
      </div>
      <p class="text-slate-200 text-lg grow">
        Spotify clone created with Angular. Playing, changing songs and
        playlists.
      </p>
    </SectionProject>

    <SectionProject
      title="Lofi Bits"
      img="radio.webp"
      imgTitle="Lofi Bits App"
      githubUrl=""
      liveUrl=""
    >
      <div slot="techs" class="flex gap-2">
        <AngularIcon size="text-white h-8 w-8" />
        <TypeScriptIcon size="text-white h-8 w-8" />
        <TailwindIcon size="text-white h-8 w-8" />
      </div>
      <p class="text-slate-200 text-lg grow">
        Lofi radio created with Angular. Play live music of your favs Lofi
        radios.
      </p>
    </SectionProject>

    <SectionProject
      title="Netflix Clone"
      img="netflix.webp"
      imgTitle="Netflix Clone App"
      githubUrl=""
      liveUrl=""
    >
      <div slot="techs" class="flex gap-2">
        <AngularIcon size="text-white h-8 w-8" />
        <TypeScriptIcon size="text-white h-8 w-8" />
        <TailwindIcon size="text-white h-8 w-8" />
      </div>
      <p class="text-slate-200 text-lg grow">
        Netflix clone created with Angular. closely resembling the app's design,
        video selection, and playback features.
      </p>
    </SectionProject>
  </div>
</section>
