---
import Card from "./Card.astro";
---

<Card grid="row-span-2 col-span-2">
  <div
    class="h-full flex flex-col gap-3 justify-center items-center text-white text-2xl font-semibold"
  >
    <h2>Web Developer</h2>
    <h2>UX/UI</h2>
    <h2>Frontend</h2>
  </div>
</Card>
