---
import Card from "./Card.astro";
---

<script>
  const dateNow = new Date().getTime();
</script>

<Card grid="row-span-1 col-span-2">
  <div class="h-full w-full flex justify-center items-center">
    <p class="text-white text-4xl font-semibold">11:07:13 PM</p>
  </div>
</Card>
