<section class="flex flex-col mt-28 rounded-xl gap-5">
  <header class="flex flex-col gap-2">
    <h1 class="text-white text-2xl font-semibold">Works</h1>
    <p class="text-slate-300 text-lg">
      I am a passionate self-taught software developer seeking new challenges. I
      specialize in front-end and serverless backend development using
      TypeScript, React.js, and Node.js. Even when faced with challenging
      problems, I know how to address them with patience, determination, and
      unwavering perseverance.
    </p>
  </header>

  <div class="mt-4 flex flex-col gap-10">
    <section class="flex flex-col">
      <h2 class="text-white text-3xl font-semibold">
        Front-End Developer - Praxedes
      </h2>
      <h4 class="text-slate-400 text-lg">March 2022 - Now</h4>
      <ul class="text-white list-disc list-inside text-lg mt-4">
        <li>
          Led the development and deployment of multiple web applications using
          Angular 14, RxJS, Material Design, and NgRx.
        </li>
        <li>
          Design and structuring of APIs solving problems according to customer
          needs.
        </li>
        <li>
          Developed reusable components and services that improved code
          efficiency.
        </li>
        <li>
          Introduced website modernization efforts to create a better overall
          user experience
        </li>
        <li>
          Mentored junior developers and conducted code reviews, improving code
          quality and knowledge sharing across the team.
        </li>
      </ul>
    </section>

    <section class="flex flex-col">
      <h2 class="text-white text-3xl font-semibold">
        Front-End Developer - IPRED
      </h2>
      <h4 class="text-slate-400 text-lg">February 2021 - March 2022</h4>
      <ul class="text-white list-disc list-inside text-lg mt-4">
        <li>
          Led the development of several web applications using Angular,
          TypeScript, HTML, and CSS
        </li>
        <li>
          Developed reusable components and services that improved code
          efficiency.
        </li>
        <li>
          Worked with the team to design and implement new features for increase
          in user engagement.
        </li>
      </ul>
    </section>
  </div>
</section>
